{% extends 'base.html.twig' %}

{% block title %}Panel Admin{% endblock %}

{% block body %}


        <div class="col-md-2 mt-2">
            {% include 'panel_admin/sidebar-admin.html.twig' %}
        </div>

{% endblock %}