{% block body %}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ path('home') }}">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href={{ path('home') }}>
        Accueil
      </a>

      {% if is_granted('IS_AUTHENTICATED_FULLY')%}
      <a class="navbar-item" href={{ path('user_index') }}>
        Admin
      </a>
      {% endif %}

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a href="{{ path('contact_new') }}" class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

{% if is_granted('IS_AUTHENTICATED_FULLY')%}
    <div class="navbar-end">
      <div class="navbar-item">
      <a href="{{ path('profil_show') }}" class="emailUser"> <p>{{ app.user.username }}</p></a>
        <div class="buttons">
           <a href="{{ path('logout') }}">  <i class="fas fa-sign-out-alt"></i></a>
          </span>
        </div>
      </div>
    </div>
{% endif %}
  </div>
</nav>
 
{% endblock %}