{% block body %}
	<div class="column is-3-desktop is-4-tablet is-12-mobile has-background-white" id="sidebarADMIN">
		<div class="sticky p-t-xl">
			<div class="logo-desktop-admin">
				<img src="{{ asset('img/logo.png') }}">
			</div>
			<aside class="tabs m-t-xl">
				<ul class="sidebar-admin border-none m-b-xl">
					<h3 class="has-text-centered is-size-4 m-b-lg has-text-weight-bold">
						Administration
					</h3>
					<li class="sidebar-element">
						<a class="sidebar-element" href="{{ path('home') }}">
							<i class="fas fa-home m-r-sm"></i>
							Retournez sur le site</a>
					</li>
					<hr class="hrCustomAdmin">
					<li class="m-b-md sidebar-element {{ page and page == 'Utilisateurs' ? 'active' : '' }}">
						<a href="{{ path('user_index') }}">
							<i class="fas fa-user m-r-sm"></i>
							Utilisateurs</a>
					</li>
					<li class="m-b-md sidebar-element {{ page and page == 'Tickets' ? 'active' : '' }}">
						<a class="sidebar-element" href="{{ path('ticket_index') }}">
							<i class="fas fa-ticket-alt m-r-sm"></i>
							Tickets</a>
					</li>
					<li class="m-b-md sidebar-element {{ page and page == 'Prix' ? 'active' : '' }}">
						<a class="sidebar-element" href="{{ path('prize_index') }}">
							<i class="fas fa-trophy m-r-sm"></i>
							Prix</a>
					</li>
					<li class="m-b-md sidebar-element {{ page and page == 'Sessions' ? 'active' : '' }}">
						<a class="sidebar-element" href="{{ path('session_index') }}">
							<i class="fas fa-window-restore m-r-sm"></i>
							Sessions</a>
					</li>
					{# <li class="m-b-md sidebar-element {{ page and page == 'Statistiques' ? 'active' : '' }}">
						<a class="sidebar-element" href="{{ path('stats_index') }}">
							<i class="fas fa-chart-bar m-r-sm"></i>
							Statistiques</a>
					</li> #}
				</ul>
			</aside>
		</div>
	</div>
{% endblock %}
