{% extends 'base.html.twig' %}

{% block title 'Profil' %}

{% block javascripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="{{ asset('bundles/pugxautocompleter/js/autocompleter-jqueryui.js') }}"></script>
	<script src="{{ asset('js/app.js') }}"></script>
{% endblock %}

{% block body %}
	<div class="container-fluid flex-1 bg-profil" id="profil">
		<div class="columns h-100">
			<div class="column is-10 is-offset-1 bg-card-page">
				<div class="columns">
					<div class="column is-12">
						<h1 class="title is-1 p-b-lg p-t-lg has-text-centered">
							<u>{{ user.familyname }}
								{{ user.firstname }}</u>
						</h1>
					</div>
				</div>
				<div class="columns">
					<div class="column is-4 h-100">
						<aside class="menu h-100 d-flex flex-column align-items-center justify-content-center p-b-xl">
							<div class="d-flex flex-column align-items-center">
								<div class="image is-128x128">
									<img class="is-rounded" src="{{ user.imageurl }}"/>
								</div>
							</div>
							<div class="content m-t-md m-b-md">
								<div class='has-text-centered p-t-md p-b-md'>
									{{ form_start(form) }}
									{{ form_label(form.checkNewsletter, null, {'label_attr': {'class': 'has-text-white'}}) }}
									{{ form_widget(form.checkNewsletter) }}
								</div>
								<div class="has-text-centered">
									<button type="submit" class="button is-primary btncheckNewsletter">
										<i class="fas fa-save m-r-sm"></i>
										Sauvegarder</button>
								</div>
								{{ form_end(form) }}
							</div>
							<div class="content p-t-md p-b-md has-text-white">
								<p>
									{{ totalTickets }}
									Tickets
								</p>
								<p>
									{{ totalLots }}
									Lots
								</p>
							</div>
							<div>
								<a class="card-footer-item" href={{ path('logout') }}>Déconnexion</a>
							</div>
						</aside>
					</div>
					<div class="column is-8">
						<div class="columns h-100">
							<div class="column">
								<div class="m-t-md m-b-md m-r-md m-l-md">
									<div>
										<form method="POST" class="has-text-centered">
											<label for="inputTicketsProfil" class="has-text-white">Retrouvez vos tickets</label>
											<input class="input m-t-md" id="inputTicketsProfil" name="ticket_no" placeholder="3495039419" type="text">
										</form>
										<table class="table m-t-md w-100">
											<thead>
												<tr>
													<td class="has-text-white">Numéro de ticket</td>
													<td class="has-text-white">Date de création</td>
												</tr>
											</thead>
											<tbody>
												{% for ticket in tickets %}
													<tr>
														<td>Ticket#{{ ticket.ticketno }}</td>
														<td>{{ ticket.datecreate|date("d/m/Y") }}</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="column">
								<div class="m-t-md m-b-md m-r-md m-l-md">
									<div>
										<form method="POST" class="has-text-centered">
											<label for="inputLotsProfil" class="has-text-white">Retrouvez vos lots</label>
											<input class="input m-t-md" id="inputLotsProfil" name="name" placeholder="Menu du jour" type="text">
										</form>
										<table class="table m-t-md w-100">
											<thead>
												<tr>
													<td class="has-text-white">Nom du prix</td>
													<td class="has-text-white">Date de création</td>
												</tr>
											</thead>
											<tbody>
												{% for ticket in tickets %}
													<tr>
														<td>{{ ticket.prize.name }}</td>
														<td>{{ ticket.prize.datecreate.date|date("d/m/Y") }}</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
