@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";

// Import a Google Font
@import url('https://use.typekit.net/qmc7lts.css');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$white: #ffffff;
$red: #a60f1b;
$grey-color: #454545;
$green: #03a60e;

// Update Bulma's global variables
$family-sans-serif: "Nunito",
sans-serif;
$dark: $grey-color;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$success: $green;
$danger: $red;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-family: "ff-basic-gothic-pro",
sans-serif;
$body-background-color: $white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$sizeUnit: rem !important;
$marginKey: 'm';
$paddingKey: 'p';
$separator: '-';
$sizes: (('none', 0),
    ('xxs', 0.125),
    ('xs', 0.25),
    ('sm', 0.5),
    ('md', 1),
    ('lg', 2),
    ('xl', 4),
    ('xxl', 8),
);
$positions: (('t', 'top'),
    ('r', 'right'),
    ('b', 'bottom'),
    ('l', 'left'));

@function sizeValue($key, $value) {
    @return if($key=='none', 0 !important, $value + $sizeUnit);
}

@each $size in $sizes {
    $sizeKey: nth($size, 1);
    $sizeValue: nth($size, 2);

    .#{$marginKey}#{$separator}#{$sizeKey} {
        margin: sizeValue($sizeKey, $sizeValue);
    }

    .#{$paddingKey}#{$separator}#{$sizeKey} {
        padding: sizeValue($sizeKey, $sizeValue);
    }

    @each $position in $positions {
        $posKey: nth($position, 1);
        $posValue: nth($position, 2);

        .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
            margin-#{$posValue}: sizeValue($sizeKey, $sizeValue);
        }

        .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
            padding-#{$posValue}: sizeValue($sizeKey, $sizeValue);
        }
    }
}

// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/components/_all.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/layout/_all.sass";
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/grid/tiles.sass";
@import "./bulma/grid/columns.sass";