<form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?');">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
	<center>
		<button class="button btnDelete" {% if is_granted("ROLE_USER") or is_granted("ROLE_EMP") %} disabled {% endif %}>
			<i class="fa fa-trash"></i>
		</a>
	</button>
</center></form>
