{% extends 'base.html.twig' %}

{% block title %}Panel Admin - Utilisateur
{% endblock %}

{% block body %}
	{% if users is not empty %}
		<div id="admin-utilisateurs" class="flex-1">
			<div class="columns h-100">
				{% include 'panel_admin/sidebar-admin.html.twig' with {'page': 'Utilisateurs'} %}
				<div class="column is-9-desktop is-8-tablet is-12-mobile bg-admin">
					<div class="columns">
						<div class="column is-10 is-offset-1">
							<h1 class="title is-1 p-b-lg p-t-lg has-text-centered">
								<u>Utilisateurs</u>
							</h1>
							{{ form_start(searchBar, {'attr': {'class': 'searchBar section p-b-none'}})  }}
							{{ form_label(searchBar, null, {'label': 'Rechercher l\'email de l\'utilisateur','label_attr': {'for': 'form_query'}}) }}
							{{ form_widget(searchBar) }}
							{{ form_end(searchBar) }}
							<div class="section">
								<div class="card">
									<div class="card-header">
										<p class="card-header-title">Utilisateurs</p>
									</div>
									<div class="card-content">
										<div class="content table-container">
											<table class="table is-fullwidth">
												<thead>
													<tr>
														<th>Profile</th>
														<th>Id</th>
														<th>Email</th>
														<th>Nom</th>
														<th>Prénom</th>
														<th>Date Creation</th>
														<th>Supprimer</th>
													</tr>
												</thead>
												<tbody>
													{% for user in users %}
														<tr>
															<center>
																<td>
																	<figure class="image is-32x32">
																		<a href="{{ path('user_show', {'id': user.id}) }}"><img class="is-rounded" src="{{ user.imageUrl }}"></a>
																	</figure>
																</td>
															</center>
															<td>{{ user.id }}</td>
															<td>{{ user.firstName }}</td>
															<td>{{ user.familyName }}</td>
															<td>{{ user.email }}</td>
															<td>{{ user.dateCreate | date("d/m/Y") }}</td>
															<td>
																{{ include('user/_delete_form.html.twig') }}
															</td>
														</tr>
													{% endfor %}
												</tbody>
											</table>
										</div>
									</div>
								</div>
								{{ knp_pagination_render(users) }}
							</div>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
