{% extends 'base.html.twig' %}

{% block title %}Panel Admin - Utilisateur
{% endblock %}

{% block body %}
	<div id="admin-utilisateurs" class="flex-1">
		<div class="columns h-100">
			{% include 'panel_admin/sidebar-admin.html.twig' with {'page': 'Utilisateurs'} %}
			<div class="column is-9-desktop is-8-tablet is-12-mobile bg-admin d-flex flex-column justify-content-center">
				<div class="columns">
					<div class="column is-10 is-offset-1">
						<h1 class="title is-1 p-b-lg p-t-lg has-text-centered m-b-none">
							<u>Utilisateurs</u>
						</h1>
						<div class="section">
							<h2 class="has-text-centered p-b-lg is-size-5 has-text-weight-bold">{{ user.firstName }}
								{{ user.familyName }}</h2>
							<div class="box">
								<article class="media">
									<div class="media-left">
										<figure class="image is-64x64">
											<img src="{{ user.imageUrl }}">
										</figure>
									</div>
									<div class="media-content">
										<div class="content">
											<p>
												<strong>ID :</strong>
												<span>{{ user.id }}</span>
											</p>
											<p>
												<strong>Nom :</strong>
												<span class="is-uppercase">{{ user.familyName }}</span>
											</p>
											<p>
												<strong>Prénom :</strong>
												<span>{{ user.firstName }}</span>
											</p>
											<p>
												<strong>Adresse mail :</strong>
												<span>{{ user.email }}</span>
											</p>
											<p>
												<strong>Rôle de l'utilisateur :</strong>
												<span>
													{% if role.name is not null %}
														{{ role.name }}
													{% else %}
														Aucun rôle
													{% endif %}
												</span>
											</p>
											<p>
												<strong>Abonné à la newsletter :</strong>
												<span>
													{% if user.checkNewsletter == false %}
														Non abonné
													{% else %}
														Abonné
													{% endif %}
												</span>
											</p>
											<small>
												<b>
													<i>Créer le
														<td>{{ user.dateCreate | date("d/m/Y") }}</td>
													</i>
												</b>
											</small>
											<div style="float: right;">{{ include('user/_delete_form.html.twig') }}</div>
										</p>
									</div>
								</article>
							</div>
							<a href="{{ path('user_index') }}" class="has-text-dark">
								<i class="fas fa-arrow-left"></i>
								retour à la liste</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
