html,
body {
    height: 100%;
}

.h-100 {
    height: 100% !important;
}

h1,
.h1,
.continuo {
    font-family: continuo, sans-serif;
    font-weight: 400 !important;
    font-style: normal;
}

#contact {
    background-color: #d9b88f;
}

.position-relative {
    position: relative !important;
}

.position-absolute {
    position: absolute !important;
}

.flex-1 {
    flex: 1 !important;
}

.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.flex-row {
    flex-direction: row !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.justify-content-around {
    justify-content: space-around !important;
}

.align-items-center {
    align-items: center !important;
}

.buttonAddPrize {
    float: right;
    margin: 1%;
}

.buttonEditPrize {
    margin-right: 5px;
}

.buttonAction {
    display: flex;
}

.buttonEditShowPrize {
    margin-right: 5px;
}

.buttonShowPrize {
    float: right;
    display: flex;
}

.buttonsEditPage {
    display: flex;
    margin-top: 3%;
}

.buttonEditPagePrize {
    padding-left: 5%;
}

.title-home {
    font-size: 80px;
    text-align: center;
    padding: 3%;
}

.buttonConnexion {
    text-align: center;
    margin: 6%;
}

.btnGoogleConnect {
    margin-right: 2%;
}

.emailUser {
    padding-right: 10px;
}

.btnSearchAdmin {
    display: block;
    max-width: 300px;
    margin: auto;
}

.inputSearchTicket {
    margin-bottom: 20px;
}

.formHome {
    border: 2px solid black;
    margin: auto;
    width: 1000px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.btnHome {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
}

nav.navbar.menu {
    background: #f2dd72;
}

#navbarBasicExample {
    justify-content: space-around;
}

.menu a {
    font-family: bree, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #bf6f41;
}

.menu a:hover {
    background-color: transparent !important;
    border-bottom: 2px solid #bf6f41;
}

.menu .navbar-start a:hover {
    color: #bf6f41 !important;
}

.navbar-item {
    padding: 0 !important;
    margin: .5rem .75rem !important;
}

.navbar-start {
    margin-right: 0 !important;
}

.navbar-end {
    margin-left: 0 !important;
}

#navbarBasicExample {
    background-color: #ffffff40;
}

@media screen and (max-width: 1023px) {
    .logo-desktop {
        display: none !important;
    }

    #navbarBasicExample {
        text-align: center;
    }

    #navbarBasicExample .buttons {
        justify-content: center;
        flex-direction: column;
    }

    a.button {
        margin-right: 0 !important;
    }

    .menu .navbar-start a:hover {
        border-bottom: none;
    }
}

@media screen and (min-width: 1024px) {
    .logo-mobile {
        display: none !important;
    }
}

a.btnGoogleConnect:hover {
    border-color: #ff3860 !important;
    color: #ff3860 !important;
    background: transparent !important;
}

a.btnFacebookConnect:hover {
    color: #3273dc !important;
    border-color: #3273dc !important;
    background: transparent !important;
}

a.btnBasicConnect {
    color: #bf6f41 !important;
    border-color: #bf6f41 !important;
    background: transparent !important;
}

.menu a:focus {
    background: transparent !important;
    color: #ff3860;
    outline: none;
}

.menu .logo-desktop:hover,
.menu .logo-mobile:hover {
    border: none !important;
}

.navbar-item-connected {
    align-items: center;
}

.navbar-item-connected a:hover {
    color: #bf6f41 !important;
}

.navbar-item-connected .logout:hover {
    border: none !important;
}

a.logo-desktop {
    position: absolute;
    width: 70px;
}

a.logo-mobile {
    width: 70px;
    position: absolute;
    margin-left: 1rem;
    z-index: 1;
}

ul.sidebar-admin {
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
}

.sidebar-admin li a {
    border-bottom: none !important;
    font-size: 1.2rem;
}

.sidebar-admin a {
    font-family: bree, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.sidebar-admin li.active a {
    color: #bf6f41;
}

.sticky {
    position: sticky;
    top: 0;
}

.border-none {
    border: none !important;
}

form.searchBar #form {
    display: flex;
    flex-direction: row;
}

form.searchBar #form>div:first-child {
    flex: 1;
}

@media screen and (max-width: 768px) {
    #sidebarADMIN {
        background: #f2dd728c;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    }

    .tabs.sticky {
        margin-top: 0 !important;
        padding-top: 1rem;

    }

    .modal-create-price .modal-card {
        margin: 0;
    }

    .modal-create-price .modal-content {
        max-height: 100% !important;
        width: 100% !important;
    }

    #about {
        padding-bottom: 2rem;
    }
}

a.button.is-danger.is-outlined {
    background: white;
}

a.button.is-danger.is-outlined[disabled] {
    background: white;
}

a.pagination-link {
    justify-content: center;
}


li.active a.pagination-link,
li.active span.pagination-link {
    border-color: #be8959;
    color: white;
    background: #be8959;
}

li a.pagination-link,
li span.pagination-link {
    border: 2px solid #be8959;
    color: #be8959;
    background: transparent;
}

a.pagination-link:hover,
span.pagination-link:hover {
    border-color: white;
    color: white;
    background: #be8959;
}

nav.pagination span.pagination-link {
    justify-content: center;
}

.text-underline {
    text-decoration: underline !important;
}

input,
textarea,
select {
    border: 2px solid #d9b88f !important;
}

button#form_search {
    background: #f6e697;
    color: #bf6f41;
    font-weight: bold;
    border-radius: none;
}

.inputSearchTicket {
    border-color: #f6e697 !important;
}

div#image-modal {
    position: fixed;
}

.modal-create-price footer.modal-card-foot {
    display: flex;
    justify-content: space-between;
}

button#image-modal-close {
    top: 0;
}

.buttonAddPrize {
    background: #f6e697 !important;
    color: #bf6f41 !important;
    font-weight: bold !important;
    border-color: #bf6f41 !important;
}

.modal-home header.modal-card-head {
    background: #fff !important;
}

.modal-create-price footer.modal-card-foot {
    background: #ecf0f3 !important;
}

g#Calque_2-2 path,
g#Calque_2-2 text,
g#Calque_2-2 rect {
    fill: white !important;
}

g#Calque_2-2 path,
g#Calque_2-2 text,
g#Calque_2-2 rect {
    font-family: bree, sans-serif !important;
}

#home h1 {
    font-size: 3rem;
    color: white;
    margin-top: 3rem;
}

#home #form {
    display: flex !important;
}

#form div:first-child {
    flex: 1 !important;
}

.btn-site {
    background: #f6e697 !important;
    color: #bf6f41 !important;
    font-weight: bold !important;
    border-radius: none !important;
}

#home .card {
    border-radius: 0.8rem !important;
}

@media screen and (max-width: 767px) {
    #home #form {
        flex-direction: column !important;
        text-align: center;
    }

    #home .hero-body {
        margin-bottom: 2rem;
    }

    #home button#form_search {
        margin-top: 1.5rem;
    }

    #home .hero-body .column {
        flex-grow: 0;
    }

    #home .container {
        justify-content: center !important;
    }
}

@media screen and (max-width: 500px) {
    button#form_search {
        width: 100%;
        justify-content: center;
    }
}

.formSearchTickets {
    width: 100%;
}

.textGetPrize {
    text-align: center;
    color: white;
    font-size: 24px;
}

.textGetPrize>strong {
    color: burlywood;
}

.ptitePhrase {
    text-align: center;
    width: 700px;
    margin: auto;
}

.connectezVous {
    text-align: center;
    font-size: 18px;
}

.card-header {
    padding: 0 10px;
}

footer {
    background: #f2dd72;
    padding: 1rem 0;
}

footer p,
footer a {
    font-family: bree, sans-serif;
    font-weight: 700;
    font-style: normal;
}

footer p {
    color: #bf6f41;
}

@media screen and (max-width: 768px) {
    div#profil .column:first-child {
        height: auto !important;
    }

    #profil aside {
        padding-top: 2rem;
    }

    #profil .column:nth-child(2) {
        padding-bottom: 1rem !important;
    }

    article.media .content {
        overflow: scroll;
    }
}

.checkbox-ticket {
    margin-left: 10px;
}

.divlots {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.bg-opacity-rounded {
    background: rgb(0, 0, 0, 0.4);
    border-radius: 9rem;
}

.bg-linearGradient {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

#home .sectionform {
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .divTitle {
        position: relative !important;
        background: #b78b61;
        top: 0 !important;
    }

    #home .hero {
        height: auto !important;
    }

    #home .hero-body {
        margin-bottom: 0;
    }

    #home .formSearchTickets {
        position: relative !important;
    }

    #home .sectionform {
        bottom: unset !important;
    }

    .div60,
    .div20,
    .div10,
    .div6,
    .div4 {
        background-position-y: 72% !important;
    }

    #CGU,
    #CGU .bg-card-page,
    #modalite .bg-card-page {
        margin: 0 !important;
        padding: 0 !important;
    }
}

form[name="ticket"] div:first-child {
    margin-right: 1rem;
}

label[for="check_modal_checkCgu"].required::after {
    content: " *";
    color: red;
}

form[name="check_modal"] label {
    padding-right: 1rem;
}

#home {
    display: flex;
    flex-direction: column;
    flex: 1;
}


.bg-admin {
    background-image: linear-gradient(to top, rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4)), url(https://cdn.pixabay.com/photo/2016/08/11/23/55/redwood-national-park-1587301_1280.jpg);
}

#blocGrosLots {
    background-size: cover !important;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.btnDelete {
    background-color: #c06e40 !important;
    color: white !important;
}

#admin-utilisateurs .content table td,
#admin-utilisateurs .content table th {
    border-bottom: 1px solid #dbdbdb59;
}

#navbarBasicExample,
nav.navbar.menu,
footer {
    background-color: rgba(40, 39, 50, 0.9) !important;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.profilBG {
    background-image: linear-gradient(to top, rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4)), url(https://images.unsplash.com/photo-1565060050331-77ff184b2dc5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=933&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
}


/* ADMIN */

.bg-admin {
    background: #ecf0f3;
}

#sidebarADMIN div.logo-desktop-admin img {
    width: 40% !important;
}

#sidebarADMIN div.logo-desktop-admin {
    display: flex;
    justify-content: center;
}

.has-text-primary {
    color: #be8959 !important;
}

#admin-utilisateurs h1,
#admin-tickets h1,
#admin-prize h1,
#admin-sessions h1,
#profil h1 {
    color: #be8959 !important;
}

input#form_query {
    background-color: #fff !important;
    border-color: #dbdbdb !important;
    height: 3.25em !important;
}

button#form_search {
    height: 3.25em !important;
    background: #be8959;
    color: white;
    text-transform: uppercase;
}

#sidebarADMIN .table,
#sidebarADMIN th,
#sidebarADMIN td {
    color: initial !important;
    background: white;
}

#navbarBasicExample,
nav.navbar.menu,
footer {
    background-color: #292926 !important;
}

#blocGrosLots {
    background-size: cover !important;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    flex: 1;
}

#home {
    background-image: linear-gradient(to top, rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.6)), url(/img/backgroundHome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

#home nav.navbar.menu {
    background: transparent !important;
}

#home #navbarBasicExample {
    background: transparent !important;
}

#petitLots div.img {
    width: 128px;
    height: 128px;
    border-radius: 4rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

#petitLots .column {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 1rem !important;
}

#grosLots {
    height: 280px;
    background: url(/img/gros-lots.png);
    width: 280px;
    border-radius: 9rem;
    background-position: center !important;
    background-size: cover !important;
    object-fit: cover !important;
    background-repeat: no-repeat !important;
}

#home a.logo-desktop {
    width: 90px;
}

#home .navbar-burger {
    color: white;
}

#home .input {
    height: 3.25em !important;
}

#home button#form_search {
    background: #be8959;
    color: white;
    font-weight: bold;
    border-radius: none !important;
    height: 3.25em !important;
}

#home .hero-body {
    padding: 2rem 1.5rem !important;
}

#home #form {
    padding-top: 1rem !important;
}

li.active a.pagination-link,
li.active span.pagination-link {
    border-color: #be8959;
    color: white;
    background: #be8959;
}

li a.pagination-link,
li span.pagination-link {
    border: 2px solid #be8959;
    color: #be8959;
    background: transparent;
}

#admin-utilisateurs a.button.pagination-next,
#admin-tickets a.button.pagination-next,
#admin-prize a.button.pagination-next,
#admin-sessions a.button.pagination-next {
    background-color: transparent !important;
    border-color: #be8959;
    color: #be8959;
}

#admin-utilisateurs a.button.pagination-next:hover,
#admin-tickets a.button.pagination-next:hover,
#admin-prize a.button.pagination-next:hover,
#admin-sessions a.button.pagination-next:hover {
    background-color: #be8959 !important;
    border-color: #be8959;
    color: white;
}

#admin-utilisateurs .button.is-danger.is-outlined[disabled],
#admin-tickets .button.is-danger.is-outlined[disabled],
#admin-prize .button.is-danger.is-outlined[disabled],
#admin-sessions .button.is-danger.is-outlined[disabled] {
    background-color: transparent !important;
    border-color: #be8959;
    box-shadow: none;
    color: #be8959;
}

#admin-utilisateurs .content table thead td a,
#admin-utilisateurs .content table thead th a,
#admin-tickets .content table thead td a,
#admin-tickets .content table thead th a,
#admin-prize .content table thead td a,
#admin-prize .content table thead th a,
#admin-sessions .content table thead td a,
#admin-sessions .content table thead th a {
    color: #363636;
}

#admin-utilisateurs .content table td a,
#admin-utilisateurs .content table th a,
#admin-tickets .content table td a,
#admin-tickets .content table th a,
#admin-prize .content table td a,
#admin-prize .content table th a,
#admin-sessions .content table td a,
#admin-sessions .content table th a {
    color: #be8959;
}

.btncheckNewsletter {
    background: transparent !important;
}

.buttonAddPrize:hover,
.btncheckNewsletter:hover {
    background: #be8959 !important;
    color: white !important;
}

.buttonAddPrize,
.btncheckNewsletter {
    color: #be8959 !important;
    font-weight: bold !important;
    border-color: #be8959 !important;
}

.button.buttonEditPrize {
    color: #be8959;
    border-color: #be8959;
}

.button.is-danger {
    background-color: #dc3545 !important;
}

#modalite h2,
#CGU h2 {
    color: #be8959 !important;
}

#CGU h3 {
    color: white !important;
}

.bg-profil {
    background-image: url(/img/bg-profil.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.bg-cgu {
    background-image: url(/img/bg-cgu.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

.bg-card-page {
    background-color: rgba(40, 39, 50, 0.9) !important;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#profil form[name='checkNewsletter'] label {
    color: white;
    margin-right: 0.5rem;
}

#profil table {
    color: white !important;
    background-color: transparent !important;
}

aside.menu a:hover {
    color: white !important;
    border-color: white;
}

.has-background-transparent {
    background-color: transparent !important;
}

hr.hrCustomAdmin {
    width: 25%;
    background-color: #bd8959;
    margin: 1rem 0 !important;
}

.bg-modalite {
    background-image: url(/img/bg-modalite.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

.form-register-home {
    background-color: #FFF;
}

.bg-sign {
    background-image: url(/img/bg-sign.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

.customPR {
    padding-right: 1rem !important;
}

.customPL {
    padding-left: 1rem !important;
}

@media screen and (max-width: 768px) {

    .customPR,
    .customPL {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .brSign {
        border-right: none;
    }
}

#SIGN,
#SIGN .bg-card-page {
    margin: 0 !important;
    padding: 0 !important;
}

button.connexion,
button.inscription {
    background: #be8959 !important;
    color: white;
    font-weight: bold;
    border-radius: none !important;
    text-transform: uppercase;
}

.form-register-home {
    background-color: #FFF;
}

.menu a.navbar-item:focus {
    color: #bf6f41 !important;
}

footer.modal-card-foot {
    background-color: whitesmoke !important;
}

.bg-sign {
    background-image: url(/img/bg-sign.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

.customPR {
    padding-right: 1rem !important;
}

.customPL {
    padding-left: 1rem !important;
}

.brSign {
    border-right: 2px solid white;
}

@media screen and (max-width: 768px) {

    .customPR,
    .customPL {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .brSign {
        border-right: none;
    }
}

#SIGN,
#SIGN .bg-card-page {
    margin: 0 !important;
    padding: 0 !important;
}

button.connexion,
button.inscription {
    background: #be8959 !important;
    color: white;
    font-weight: bold;
    border-radius: none !important;
    text-transform: uppercase;
}

.menu a:hover {
    color: #bf6f41 !important;
}

#erreur404 {
    background-image: url(/img/bg-erreur404.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

a.btnReturnHome {
    color: #bf6f41 !important;
    text-transform: uppercase;
    font-weight: bold;
    border-color: #bf6f41 !important;
    background: transparent !important;
}

#erreur404 h1 {
    color: #be8959 !important;
    font-size: 9rem;
}