{% extends 'base.html.twig' %}

{% block title %}Panel Admin - Statistiques
{% endblock %}

{% block body %}

	{% if stats is not empty %}
		<div id="admin-sessions" class="flex-1">
			<div class="columns m-b-none">
				{% include 'panel_admin/sidebar-admin.html.twig' with {'page': 'Statistiques'} %}
				<div class="column is-9-desktop is-8-tablet is-12-mobile bg-admin d-flex flex-column justify-content-center">
					<div class="columns">
						<div class="column is-10 is-offset-1">
							<h1 class="title is-1 p-b-lg p-t-lg has-text-centered">
								<u>Statistiques</u>
							</h1>
							<div style="width: 75% margin: 0 auto;">
								<canvas id="myChart"></canvas>
							</div>
						</br>
						<div class="card m-b-md">
							<header class="card-header">
								<p class="card-header-title">
									Quelques chiffres ...
								</p>
							</header>
							<div class="card-content">
								<div class="content">
									<p>Il y a
										{{ ticketUsed }}
										ticket utilisé(s).
									</p>
								</div>
							</div>
							<div class="card-content">
								<div class="content">
									<p>Il y a
										{{ ticketRecover }}
										prix récupéré(s).
									</p>
								</div>
							</div>
							<div class="card-content">
								<div class="content">
									<p>Il y a
										{{ ticketUsedPrize1 }}
										Entrée ou Dessert au choix gagné(s).
									</p>
								</div>
							</div>
							<div class="card-content">
								<div class="content">
									<p>Il y a
										{{ ticketUsedPrize2 }}
										Burgeur gagné(s).
									</p>
								</div>
							</div>
							<div class="card-content">
								<div class="content">
									<p>Il y a
										{{ ticketUsedPrize3 }}
										Menu du jour gagné(s).
									</p>
								</div>
							</div>
							<div class="card-content">
								<div class="content">
									<p>Il y a
										{{ ticketUsedPrize4 }}
										Menu aux choix gagné(s).
									</p>
								</div>
							</div>
							<div class="card-content">
								<div class="content">
									<p>Il y a
										{{ ticketUsedPrize5 }}
										ticket à -70% de réduction gagné(s).
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

{% endblock %}
