<form method="post" action="{{ path('session_delete', {'id': session.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette session ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ session.id) }}">
    <center><button class="button is-danger"><i class="fa fa-trash"></i></a></button></center>
</form>
