{% extends 'base.html.twig' %}

{% block title %}Panel Admin - Session
{% endblock %}

{% block body %}

	{% if sessions is not empty %}
		<div id="admin-sessions" class="flex-1">
			<div class="columns h-100 m-b-none">
				{% include 'panel_admin/sidebar-admin.html.twig' with {'page': 'Sessions'} %}
				<div class="column is-9-desktop is-8-tablet is-12-mobile bg-admin">
					<div class="columns">
						<div class="column is-10 is-offset-1">
							<h1 class="title is-1 p-b-lg p-t-lg has-text-centered">
								<u>Sessions</u>
							</h1>

							{{ form_start(searchBar, {'attr': {'class': 'searchBar section p-b-none'}}) }}
							{{ form_label(searchBar, null, {'label': 'Rechercher le numéro de session','label_attr': {'for': 'form_query'}}) }}
							{{ form_widget(searchBar) }}
							{{ form_end(searchBar) }}

							<div class="section">
								<div class="card">
									<div class="card-header">
										<p class="card-header-title">Sessions</p>
									</div>
									<div class="card-content">
										<div class="content table-container">
											<table class="table is-fullwidth">
												<thead>
													<tr>
														<th>Id</th>
														<th>N° Session</th>
														<th>Validation du ticket</th>
														<th>Date Début</th>
														<th>Date Fin</th>
														<th>Supprimer</th>
													</tr>
												</thead>
												<tbody>
													{% for session in sessions %}
														<tr>
															<td>{{ session.id }}</td>
															<td>
																<a href="{{ path('session_show', {'id': session.id}) }}">{{ session.noSession }}<a></td>
																	<td>{{ session.dateValideTicket | date("d/m/Y") }}</td>
																	<td>{{ session.dateDebutSession | date("d/m/Y") }}</td>
																	<td>{{ session.dateFinSession | date("d/m/Y") }}</td>
																	<td>{{ include('session/_delete_form.html.twig') }}</td>
																</tr>
															{% endfor %}
														</tr>
													</tbody>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								{{ knp_pagination_render(sessions) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %}

	{% endblock %}
