{% extends 'base.html.twig' %}

{% block title %}Panel Admin - Session
{% endblock %}

{% block body %}

	<div id="admin-sessions" class="flex-1">
		<div class="columns h-100">
			{% include 'panel_admin/sidebar-admin.html.twig' with {'page': 'Sessions'} %}
			<div class="column is-9-desktop is-8-tablet is-12-mobile bg-admin d-flex flex-column justify-content-center">
				<div class="columns">
					<div class="column is-10 is-offset-1">
						<h1 class="title is-1 p-b-lg p-t-lg has-text-centered m-b-none">
							<u>Sessions</u>
						</h1>
						<div class="section">
							<h2 class="has-text-centered p-b-lg is-size-5 has-text-weight-bold">
								<center>n°{{ session.noSession }}</center>
							</h2>
							<div class="box">
								<article class="media">
									<div class="media-content">
										<div class="content">
											<p>
												<strong>{{ session.noSession }}</strong>
												--
												<small>ID :
													{{ session.id }}</small>
											</p>
											{% if session.dateValideTicket %}
												<p class="is-italic">
													<strong>Session validé le :</strong>
													{{ session.dateValideTicket ? session.dateValideTicket|date('d-m-Y H:i') : '' }}
												</p>
											{% else %}
												<p class="is-italic">Pas de validation de session</p>
											{% endif %}

											{% if session.dateDebutSession %}
												<p class="is-italic">
													<strong>Début de la session :</strong>
													{{ session.dateDebutSession ? session.dateDebutSession|date('d-m-Y H:i') : '' }}
												</p>
											{% else %}
												<p>Pas de début</p>
											{% endif %}
											{% if session.dateFinSession %}
												<p>
													<strong>Fin de la session :</strong>
													{{ session.dateFinSession ? session.dateFinSession|date('d-m-Y H:i') : '' }}
												</p>
											{% else %}
												<p>Pas de fin</p>
											{% endif %}
										</div>
										<div style="float: right;">{{ include('session/_delete_form.html.twig') }}</div>
									</div>
								</article>
							</div>
							{% if ticketSession is not null %}
								<table class="table has-background-transparent is-fullwidth">
									<thead>
										<tr>
											<th>Numéro de ticket</th>
											<th>Date de validation</th>
										</tr>
									</thead>
									<tbody>
										{% for ticket in ticketSession %}
											<tr>
												<td>
													{% if ticket.ticketNo is defined %}
														<a href="{{ path('ticket_show', {'id': ticket.id}) }}">
															{{ ticket.ticketNo }}
														</a>
													{% else %}
														Aucun ticket pour cette session
													{% endif %}
												</td>
												<td>
													{% if ticket.dateCreate is defined %}
														{{ ticket.dateCreate|date('d-m-Y') }}
													{% else %}
														Aucune date de création
													{% endif %}
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							{% endif %}
							<a href="{{ path('session_index') }}" class="has-text-dark">
								<i class="fas fa-arrow-left"></i>
								retour à la liste</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
