# In all environments, the following files are loaded if they exist,
# the later taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV={{vars.app.env}}
APP_SECRET=a3af10d82d974689b5b0606f2f2590c2
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS='^localhost|example\.com$'
###< symfony/framework-bundle ###

GOOGLE_CLIENT_ID={{vault_app.google_client_id}}
GOOGLE_CLIENT_SECRET={{vault_app.google_client_secret}}

FACEBOOK_CLIENT_ID={{vault_app.facebook_client_id}}
FACEBOOK_CLIENT_SECRET={{vault_app.facebook_client_secret}}

DB_USER={{vault_db.user_name}}
DB_NAME={{vars.db.name}}
DB_USER_PASSWORD={{vault_db.user_password}}

###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="
# Delivery is disabled by default via "null://localhost"
MAILER_URL={{vault_mail.url}}
###< symfony/swiftmailer-bundle ###
DATABASE_URL=pgsql://{{vault_db.user_name}}:{{vault_db.user_password}}@db/{{vars.db.name}}
###< doctrine/doctrine-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# For a PostgreSQL database, use: "postgresql://db_user:db_password@127.0.0.1:5432/db_name?serverVersion=11"
# IMPORTANT: You MUST also configure your db driver and server_version in config/packages/doctrine.yaml
# DATABASE_URL=mysql://db_user:db_password@127.0.0.1:3306/db_name
###< doctrine/doctrine-bundle ###
