debug = true
logLevel = "DEBUG"
defaultEntryPoints = ["http", "https"]

[entryPoints]
  [entryPoints.http]
  address = ":80"
    [entryPoints.http.redirect]
      entryPoint = "https"
  [entryPoints.https]
  address = ":443"
    [entryPoints.https.tls]

[retry]

[docker]
endpoint = "unix:///var/run/docker.sock"
watch = true
exposedByDefault = false
network= "fatboar"

[acme]
caServer = "https://acme-v02.api.letsencrypt.org/directory"
storage = "/configs/traefik/acme/acme.json"
email = "sabertaby@gmail.com"
onHostRule = true
acmeLogging = true
entryPoint = "https"
  [acme.httpChallenge]
    entryPoint = "http"
[[acme.domains]]
{% if vars.app.env == 'prod' %}
  main = "fat-boar.website"
{% else %}
  main = "{{vars.app.env}}.fat-boar.website"
{% endif %}
