<form method="post" action="{{ path('prize_delete', {'id': prize.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce prix ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prize.id) }}">
    <button class="button is-danger" {% if is_granted("ROLE_USER") or is_granted("ROLE_EMP") %} disabled {% endif %}><i class="fa fa-trash"></i></a></button>
</form>
