{% extends 'base.html.twig' %}

{% block title %}Panel Admin - Prix
{% endblock %}

{% block body %}
	<div id="admin-prize" class="flex-1">
		<div class="columns h-100">
			{% include 'panel_admin/sidebar-admin.html.twig' with {'page': 'Prix'} %}
			<div class="column is-9-desktop is-8-tablet is-12-mobile bg-admin d-flex flex-column justify-content-center">
				<div class="columns">
					<div class="column is-10 is-offset-1">
						<h1 class="title is-1 p-b-lg p-t-lg has-text-centered m-b-none">
							<u>Prix</u>
						</h1>
						<div class="section">
							<div class="box">
								<article class="media">
									<div class="media-content">
										<div class="content">
											<h2 class="has-text-centered is-uppercase m-b-lg">{{ prize.name }}</h2>
											{{ form_start(form) }}
											{{ form_label(form.name, null, {'label_attr': {'class': 'label p-b-md'}}
											) }}
											{{ form_widget(form.name, {'attr': {'class': 'input m-b-md'}}) }}
											{{ form_label(form.content, null, {'label_attr': {'class': 'label p-b-md'}}
											) }}
											{{ form_widget(form.content, {'attr': {'class': 'textarea m-b-md'}}) }}
											<div class="buttonsEditPage">
												<button class="button is-success">Mettre à jour</button>
												{{ form_end(form) }}
												<div class="buttonEditPagePrize">{{ include('prize/_delete_form.html.twig') }}</div>
											</div>
										</div>
									</div>
								</article>
							</div>
							<a href="{{ path('prize_index') }}" class="has-text-dark">
								<i class="fas fa-arrow-left"></i>
								retour à la liste</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
