{% extends 'base.html.twig' %}

{% block title %}Panel Admin - Prix{% endblock %}

{% block body %}

	{% if prizes is not empty %}
		<div id="admin-prize">
			<div class="columns">
				<div class="column is-12">
					<div id="image-modal" class="modal modal-create-price">
						<div class="modal-background"></div>
						<div class="modal-content">
							<div class="modal-card">
								<header class="modal-card-head">
									<p class="modal-card-title">Créer un prix</p>
									<button id="image-modal-close" class="modal-close"></button>
								</header>
								{{ form_start(form) }}
								<section class="modal-card-body">
									{{ form_label(form.name, null, {'label_attr': {'class': 'label p-b-md'}}) }}
									{{ form_widget(form.name, {'attr': {'class': 'input m-b-md'}}) }}
									{{ form_label(form.content, null, {'label_attr': {'class': 'label p-b-md'}}) }}
									{{ form_widget(form.content, {'attr': {'class': 'textarea m-b-md'}}) }}
								</section>
								<footer class="modal-card-foot">
									<button type="submit" class="button is-success">Créer</button>
									<button id="btn-cancel" class="button">Annuler</button>
								</footer>
								{{ form_end(form) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="admin-prize" class="flex-1">
			<div class="columns h-100 m-b-none">
				{% include 'panel_admin/sidebar-admin.html.twig' with {'page': 'Prix'} %}
				<div class="column is-9-desktop is-8-tablet is-12-mobile bg-admin">
					<div class="columns">
						<div class="column is-10 is-offset-1">
							<h1 class="title is-1 p-b-lg p-t-lg has-text-centered">
								<u>Prix</u>
							</h1>

							{{ form_start(searchBar, {'attr': {'class': 'searchBar section p-b-none'}}) }}
							{{ form_label(searchBar, null, {'label': 'Rechercher le nom du prix','label_attr': {'for': 'form_query'}}) }}
							{{ form_widget(searchBar) }}
							{{ form_end(searchBar) }}

							<div class="section">
								<div class="card">
									<div class="card-header">
										<p class="card-header-title">Prix</p>
										<a id="showModal" class="button buttonAddPrize is-link is-outlined is-rounded modal-button" aria-haspopup="true" data-target="modal-ter">Ajouter</a>
									</div>
									<div class="card-content">
										<div class="content table-container">
											<table class="table is-fullwidth">
												<thead>
													<tr>
														<th>Id</th>
														<th>Nom du Prix</th>
														<th>Date</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody>
													{% for prize in prizes %}
														<tr>
															<td>{{ prize.id }}</td>
															<td>
																<a href="{{ path('prize_show', {'id': prize.id}) }}">{{ prize.name }}</a>
															</td>
															{# <td>{% if prize.ticket.ticketNo is defined %} {{prize.ticket.ticketNo}}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																												{% else %} Aucun
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																												ticket{% endif %}</td> #}
															<td>{{ prize.dateCreate | date("d/m/Y") }}</td>
															{# <td>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																												{% if prize.ticket.user.email is defined %} {{prize.ticket.user.email}}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																												{% else %}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																												Aucun utilisateur{% endif %}</p>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																											</td> #}
															<td class="buttonAction">{% include 'prize/_edit_form.html.twig' %}
																{% if prize.dateDelete %}
																	{% else %}
																		{{ include('prize/_delete_form.html.twig') }}
																{% endif %}
															</td>
														</tr>
													{% endfor %}
												</tbody>
											</table>
										</div>
									</div>
								</div>
								{{ knp_pagination_render(prizes) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %}

	{% endblock %}
