{% extends 'base.html.twig' %}

{% block title %}Panel Admin - Prix
{% endblock %}

{% block body %}

	<div id="admin-utilisateurs" class="flex-1">
		<div class="columns h-100">
			{% include 'panel_admin/sidebar-admin.html.twig' with {'page': 'Prix'}%}
			<div class="column is-9-desktop is-8-tablet is-12-mobile bg-admin d-flex flex-column justify-content-center">
				<div class="columns">
					<div class="column is-10 is-offset-1">
						<h1 class="title is-1 p-b-lg p-t-lg has-text-centered m-b-none">
							<u>Prix</u>
						</h1>
						<div class="section">
							<h2 class="has-text-centered p-b-lg is-size-5 has-text-weight-bold">
								<center>{{ prize.name }}</center>
							</h2>
							<div class="box">
								<article class="media">
									<div class="media-content">
										<div class="content">
											<div class="columns">
												<div class="column is-6">
													<p>
														<span class="is-capitalized">
															<strong>{{ prize.name }}</strong>
														</span>
														--
														<small>
															<strong>ID :</strong>
															{{ prize.id }}
														</small>
													</p>
													<p>
														<strong>Description :</strong>
														<figure class="image is-128x128">
															<img src="{{ prize.content }}">
														</figure>
													</p>
													<p>
														<strong>Utilisateur :</strong>
														{% if prize.ticket.user.email is defined %}
															{{prize.ticket.user.email}}
														{% else %}
															Aucun utilisateur
														{% endif %}
													</p>
													<p>
														<strong>Numéro de ticket :</strong>
														{% if prize.ticket.ticketNo is defined %}
															{{prize.ticket.ticketNo}}
														{% else %}
															Aucun Ticket
														{% endif %}
													</p>
													<p class="is-italic p-b-md">
														<strong>Type de prix :</strong>
														{% if prize.typePrize.name is defined %}
															{{prize.typePrize.name}}
														{% else %}
															Aucun Type de prix
														{% endif %}
													</p>
												</div>
												<div class="column is-6">
													{% if prize.dateCreate %}
														<p class="is-italic">
															<strong>Créer le :
															</strong>
															{{ prize.dateCreate ? prize.dateCreate|date('d-m-Y H:i') : '' }}
														</p>
													{% else %}
														<p class="is-italic">Pas de date de création</p>
													{% endif %}

													{% if prize.dateUpdate %}
														<p class="is-italic">
															<strong>Mis à jour le :</strong>
															{{ prize.dateUpdate ? prize.dateUpdate|date('d-m-Y H:i') : '' }}
														</p>
													{% else %}
														<p class="is-italic">Pas de date de mise à jour</p>
													{% endif %}

													{% if prize.dateDelete %}
														<p class="is-italic">
															<strong>Supprimé le :
															</strong>
															{{ prize.dateDelete ? prize.dateDelete|date('d-m-Y H:i') : '' }}
														</p>
													{% else %}
														<p class="is-italic">
															Pas de date de suppression
														</p>
													{% endif %}
												</div>
											</div>
											<div class="buttonShowPrize">
												<div class="buttonEditShowPrize">{{ include('prize/_delete_form.html.twig') }}</div>
												{{ include('prize/_edit_form.html.twig') }}
											</div>
										</div>
									</article>
								</div>
								<a href="{{ path('prize_index') }}" class="has-text-dark">
									<i class="fas fa-arrow-left"></i>
									retour à la liste</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
