{% extends 'base.html.twig' %}

{% block title 'Dites nous tous' %}

{% block body %}

<div class="flex-1" id="contact">
    <h1 class="title is-1 p-b-lg p-t-lg has-text-centered has-background-white">
        <u>Dites nous
            <br class="is-hidden-desktop">tous</u>
    </h1>
    <div class="container">
        <div class="is-flex columns is-centered is-vcentered p-r-md p-l-md">
            {{ form_start(form) }}
            {% if not form.vars.valid %}
            <div class="columns is-centered">
                <div class="column is-12 has-text-centered notification is-danger">
                    <i class="far fa-times-circle"></i>
                    Merci de bien vouloir renseigner les champs ci-dessous
                </div>
            </div>
            {% endif %}
            <div class="m-b-lg">
                <div class="has-text-danger has-text-centered">
                    <b>{{ form_errors(form.email) }}</b>
                </div>
                <p>{{ form_widget(form.email, {'attr': {'class': 'input', 'placeholder': 'VEUILLEZ ADRESSER VOTRE ADRESSE MAIL', 'name': 'email'}})
                    }}</p>
            </div>
            <div class="m-b-lg">
                <div class="has-text-danger has-text-centered">
                    <b>{{ form_errors(form.subject) }}</b>
                </div>
                <p>{{ form_widget(form.subject, {'attr': {'class': 'input', 'placeholder': "L'OBJET DE VOTRE DEMANDE", 'name': 'subject'}})
                    }}</p>
            </div>
            <div class="m-b-lg">
                <div class="has-text-danger has-text-centered">
                    <b>{{ form_errors(form.message) }}</b>
                </div>
                <p>{{ form_widget(form.message, {'attr': {'class': 'textarea', 'placeholder': 'ALLEZ DITES NOUS TOUS', 'rows': '8', 'name': 'message'}})
                    }}</p>
            </div>
            {{ form_rest(form) }}

            {% for message in app.flashes('success') %}
            <div class="column is-12 notification is-success has-text-centered">
                <i class="far fa-check-circle"></i>
                {{message}}
            </div>
            {% endfor %}


            {% if form.vars.submitted and form.vars.valid %}
            <div class="m-b-lg">
                <div class="control has-text-centered">
                    <input class="button is-success is-medium is-rounded is-uppercase" id="btnSubmitContact"
                        name="Submit" type="submit" value="Envoyer" />
                </div>
            </div>
            {% elseif form.vars.submitted and form.vars.valid == false %}
            <div class="m-b-lg">
                <div class="control has-text-centered">
                    <input class="button is-danger is-medium is-rounded is-uppercase" id="btnSubmitContact"
                        name="Submit" type="submit" value="Envoyer" />
                </div>
            </div>
            {% else %}
            <div class="m-b-lg">
                <div class="control has-text-centered">
                    <input class="button is-dark is-medium is-rounded is-uppercase" id="btnSubmitContact" name="Submit"
                        type="submit" value="Envoyer" />
                </div>
            </div>
            {% endif %}
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}