{% block body %}
	<nav class="navbar menu" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="logo-mobile" href="{{ path('home') }}">
				<figure>
					<img alt="Logo Mobile Fatboar" src="{{ asset('img/logo.png') }}">
				</figure>
			</a>
			<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>
		<div class="navbar-menu is-relative" id="navbarBasicExample">
			<div class="navbar-start">
				<a href="{{ path('home') }}" class="navbar-item is-uppercase">
					Accueil
				</a>

				<a href="http://www.fatboar.com/contact" target="_blank" class="navbar-item is-uppercase">
					Contact
				</a>

				<a href="{{ path('modalite') }}" class="navbar-item is-uppercase">
					Modalité
				</a>

			</div>

			<a class="logo-desktop" href={{ path('home') }}>
				<figure>
					<img alt="Logo Desktop Fatboar" src="{{ asset('img/logo.png') }}">
				</figure>
			</a>

			<div class="navbar-end">
				{% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.checkCgu %}
					{% if (is_granted("ROLE_ADMIN") or is_granted("ROLE_EMP")) %}
						<a class="navbar-item is-uppercase" href={{ path('user_index') }}>
							Admin
						</a>
					{% endif %}
				{% endif %}

				{% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.checkCgu%}
					<div class="navbar-item navbar-item-connected">
						<a href="{{ path('profil_show') }}">
							<p class="emailUser">{{app.user.username}}</p>
						</a>
						<div class="buttons">
							<a href="{{ path('logout') }}" class="logout">
								<i class="fas fa-sign-out-alt"></i>
							</a>
						</span>
					</div>
				</div>
			{% else %}
				<div class="navbar-item">
					<div class="buttons">
						<a id="showModal" class="btnBasicConnect button is-warning is-centered" href="{{ path('app_login') }}">
							<span class="icon">
								<i class="fas fa-sign-in-alt"></i>
							</span>
							<span>Connexion</span>
						</a>
						<a id="showModal" class="btnBasicConnect button is-warning is-centered" href="{{ path('user_sign') }}">
							<span class="icon">
								<i class="fas fa-user"></i>
							</span>
							<span>Inscription</span>
						</a>
					{% endif  %}
				</div>
			</div>
		</div>
	</nav>
{% endblock %}
{% block javascripts %}
	<script type="text/javascript" src="{{ asset('js/menuResponsive.js') }}"></script>
{% endblock %}
