{% extends 'base.html.twig' %}

{% block title %}ERREUR 404
{% endblock %}

{% block body %}

	<div id="erreur404" class="d-flex flex-1 bg-sign align-items-center">
		<div class="container-fluid w-100">
			<div class="columns">
				<div class="column is-8 is-offset-2">
					<div class="card bg-card-page p-b-xl">
						<div class="card-content">
							<div class="columns">
								<div class="column is-12 has-text-centered">
									<p class="p-t-xl m-b-none has-text-white title is-1">ERREUR</p>
									<h1 class="p-b-md has-text-centered w-100">
										<u>404</u>
									</h1>
									<p class="p-b-xl has-text-white title is-5 m-b-none">PAGE OU BURGER NON TROUVÉE !</p>
									<a id="" class="btnReturnHome button is-warning is-centered" href="{{ path('home') }}">
										<i class="fas fa-arrow-left m-r-sm"></i>
										Retour sur l'accueil
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
