{% extends 'base.html.twig' %}

{% block title %}
	Jeu Concours Fatboar
{% endblock %}

{% block metadescription %}
	<meta name="Description" content="FatBoar est spécialisé dans le burgers sauvage. Pour l'ouverture du 100ème restaurant, ils ont décidé d'organiser un jeu concours permettant de gagner beaucoup de petits lots et jouer au grand tirage au sort pour pouvoir gagner un 4x4">
{% endblock %}

{% block body %}
	<div class="hero-body">
		<div class="container has-text-centered h-100 d-flex flex-column justify-content-around">
			<div class="column is-12">
				<h1 class="title">
					JEU CONCOURS FATBOAR
				</h1>
				<p class="has-text-white has-text-weight-bold is-uppercase">Ayez du goût ! tout en gagnant beaucoup de lots
				</p>
			</div>
			<div class="column is-12">
				<div class="formSearchTickets">
					<div class="card-content customForm has-text-centered">
						{{ form_start(inputHome) }}
						{{ form_label(inputHome, null, {'label': 'Entrez votre numéro de ticket','label_attr': {'class': 'has-text-white', 'for': 'form_query'}}) }}
						{{ form_widget(inputHome) }}
						{{ form_end(inputHome) }}
						<h2 class="is-size-4 m-b-md has-text-white has-text-weight-bold continuo is-hidden-tablet m-t-lg m-b-lg">Les lots à gagner</h2>
					</br>
					<center>
						<p id="msgErreurformHome" style="color: red; font-weight: bold; display: none">Vous devez vous connecter pour entrer votre ticket</p>
					</center>
					<div class="m-t-md">
						<a href="{{ path('modalite') }}" class="has-text-weight-bold has-text-white is-uppercase">En savoir plus</a>
					</div>
				</div>
			</div>
		</div>
		<div class="columns m-b-xl is-hidden-mobile" id="petitLots">
			<div class="column is-6 m-b-lg">
				<h2 class="is-size-3 m-b-md has-text-white has-text-weight-bold continuo">PETIT LOTS</h2>
				<div class="columns">
					<div class="column is-12">
						<img alt="Image des petits lots" src="{{ asset('/img/petit-lots.png') }}">
					</div>
				</div>
			</div>
			<div class="column is-6 m-b-lg">
				<h2 class="is-size-3 m-b-md has-text-white has-text-weight-bold continuo">GROS LOT</h2>
				<p id="compteur" class="has-text-centered has-text-white is-size-3"></p>
				<p class="has-text-weight-bold has-text-white m-b-md">Avant le grand tirage au sort pour gagner un 4x4</p>
				<img alt="Image des gros lots" src="{{ asset('/img/gros-lots.png') }}"/>
			</div>
		</div>
	</div>
</div>

{% if is_granted('IS_AUTHENTICATED_FULLY')%}

	{% if isUsed is defined %}
		<div id="modal-bis" class="modal is-active">
			<div class="modal-background"></div>
			<div class="modal-content">
				<p class="image is-4by3">
					<img src="https://www.prestasoo.com/images/jdownloads/screenshots/thumbnails/cancel-an-order-prestashop-module.png" alt="">
				</p>
				<p class="textGetPrize">Votre Ticket est déja utilisé</p>
			</div>
			<button id="modal-close" class="modal-close is-large" aria-label="close"></button>
		</div>
	{% endif %}
	{% if checkTicket.prize.name is defined %}

		{% if checkTicket.prize.name is defined %}
			<div id="modal-bis" class="modal is-active">
				<div class="modal-background"></div>
				<div class="modal-content">
					<p class="image is-4by3">
						<img src="{{ checkTicket.prize.content }}" alt="">
					</p>
					<p class="textGetPrize">
						{% if checkTicket.prize.name is defined %}
							Vous avez gagné un
							<strong>
								{{checkTicket.prize.name}}
							</strong>
						{% endif %}
					</p>
					<p></p>
				</div>
				<button id="modal-close" class="modal-close is-large" aria-label="close"></button>
			</div>
		{% endif %}

	{% endif %}
{% endif %}

<div id="modalCGU" class="modal h-100">
	<div class="modal-background"></div>
	<div class="modal-card">
		<header class="modal-card-head">
			<p class="has-text-centered">Veuillez confirmer les conditions générale d'utilisation pour pouvoir utiliser notre site</p>

		</header>
		<section class="modal-card-body">
			{{ form_start(form) }}
			<div class="m-b-lg">
				<div class="has-text-danger has-text-centered">
					<b>{{ form_errors(form.checkCgu) }}</b>
				</div>
				<div class="columns">
					<div class="column">
						{{ form_label(form.checkCgu) }}
						{{ form_widget(form.checkCgu, {'attr': {'class': 'test'}}) }}
					</div>
					<div class="column">
						<a href="/cgu">Voir les CGU</a>
					</div>
				</div>
			</div>
			<div class="m-b-lg">
				<div class="has-text-danger has-text-centered">
					<b>{{ form_errors(form.checkNewsletter) }}</b>
				</div>
				<p>{{ form_row(form.checkNewsletter, {'attr': {'class': 'test'}})}}</p>
			</div>
			{{ form_widget(form) }}
			<small>
				<span class="has-text-danger">*</span>
				Champs requis</small>
		</section>
		<footer class="modal-card-foot">
			<button class="button is-success" type="submit">Valider</button>
			<button class="button" href="/logout">Quitter</button>
		</footer>
		{{ form_end(form) }}
	</div>
</div>{% endblock %}{% block javascripts %}

<script src="/bundles/mukadichartjs/jquery.js"></script>
<script type="text/JavaScript" src="{{ asset('js/compteur.js') }}"></script>
<script>

	var isLogged = {{ app.user == null ? 'false' : 'true' }};{% if app.user %}if (isLogged && {{ app.user.checkCgu == null }}) {
jQuery("#modalCGU").addClass("is-active");
}
{% endif %}

if (! isLogged) {
jQuery(".formSearchTickets").submit(event => {
event.preventDefault();
jQuery("#msgErreurformHome").show();
});
}
</script>{% endblock %}
