{#
/**
 * @file
 * Twitter Bootstrap v4 Sliding pagination control implementation.
 *
 * View that can be used with the pagination module
 * from the Twitter Bootstrap v4 CSS Toolkit
 * https://v4-alpha.getbootstrap.com/components/pagination/
 *
 * @author Carlos Delgado <dev@ourcodeworld.com>
 */
#}

{% if pageCount > 1 %}
	<div class="card navigation m-t-lg">
		<nav class="pagination" aria-label="Page navigation example">
			<ul class="card-content pagination pagination-list">
				{% if previous is defined %}
					<li class="page-item">
						<a rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="button is-danger is-outlined pagination-previous page-item ">&laquo;&nbsp; Précédent</a>
					</li>
				{% else %}
					<li class="page-item disabled">
						<span class="button is-danger is-outlined pagination-previous page-item " disabled>&laquo;&nbsp; Précédent</span>
					</li>
				{% endif %}

				{% if startPage > 1 %}
					<li class="page-item">
						<a href="{{ path(route, query|merge({(pageParameterName): 1})) }}" class="pagination-link">1</a>
					</li>
					{% if startPage == 3 %}
						<li class="page-item">
							<a href="{{ path(route, query|merge({(pageParameterName): 2})) }}" class="pagination-link">2</a>
						</li>
					{% elseif startPage != 2 %}
						<li class="page-item disabled">
							<span class="pagination-link">&hellip;</span>
						</li>
					{% endif %}
				{% endif %}

				{% for page in pagesInRange %}
					{% if page != current %}
						<li class="page-item">
							<a href="{{ path(route, query|merge({(pageParameterName): page})) }}" class="pagination-link">{{ page }}</a>
						</li>
					{% else %}
						<li class="active page-item">
							<span class="pagination-link">{{ page }}</span>
						</li>
					{% endif %}

				{% endfor %}

				{% if pageCount > endPage %}
					{% if pageCount > (endPage + 1) %}
						{% if pageCount > (endPage + 2) %}
							<li class="page-item disabled">
								<span class="pagination-link">&hellip;</span>
							</li>
						{% else %}
							<li class="page-item">
								<a href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}" class="pagination-link">{{ pageCount -1 }}</a>
							</li>
						{% endif %}
					{% endif %}
					<li>
						<a href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}" class="pagination-link">{{ pageCount }}</a>
					</li>
				{% endif %}

				{% if next is defined %}
					<li class="page-item">
						<a rel="next" class="button is-danger is-outlined pagination-next page-item" href="{{ path(route, query|merge({(pageParameterName): next})) }}">Suivant&nbsp;&raquo;</a>
					</li>
				{% else %}
					<li class="page-item disabled">
						<span class="button is-danger is-outlined pagination-next page-item" disabled>Suivant&nbsp;&raquo;</span>
					</li>
				{% endif %}
			</ul>
		</nav>
	</div>
{% endif %}
