{% extends 'base.html.twig' %}

{% block title %}Condition Générale d'Utilisation
{% endblock %}

{% block metadescription %}
	<meta name="Description" content="Condition générale d'utilisation du site de jeu-concours Fatboar">
{% endblock %}

{% block body %}
	<div id="CGU" class="p-b-xl bg-cgu">
		<div class="container-fluid">
			<div class="columns">
				<div class="column is-10 is-offset-1">
					<div class="card bg-card-page">
						<header class="card-header has-text-centered">
							<h1 class="title is-1 p-b-xl p-t-xl has-text-centered w-100" style="color: #be8959 !important;">
								<u>Condition Générale d'Utilisation</u>
							</h1>
						</header>
						<div class="card-content">
							<div class="content">
								<div class="article-body concours has-text-white" itemprop="articleBody">

									<h2 class="has-text-centered m-b-xl">Règlement des jeux concours de FATBOAR</h2>

									<h3>Article 1 : Société organisatrice</h3>

									<p>Fatboar dont le siège est situé 1 Bis Rue Gustave Eiffel, 78280 Guyancourt, sous le numéro de SIRET 802 954 785 00028, organise, un jeu-concours gratuit avec obligation d’achat (ci-après « le Jeu ») selon les modalités du présent règlement, et accessible depuis le site fatboar.website</p>

									<h3>Article 2 : Conditions de participation
									</h3>

									<p>Ce jeu est ouvert à toute personne physique majeure résidant en France<br>
										L’association se réservant le droit de procéder à toutes les vérifications nécessaires concernant l’identité, l’adresse postale et / ou électronique des participants.
										<br>
										Sont exclus de toute participation au présent jeu et du bénéfice de toute dotation, que ce soit directement ou indirectement l’ensemble du personnel de la Société et du Partenaire, y compris leur famille et conjoints (mariage, P.A.C.S. ou vie maritale reconnue ou non).
										<br>
										Les personnes n’ayant pas justifié de leurs coordonnées et identités complètes ou qui les auront fournies de façon inexacte ou mensongère seront disqualifiées, tout comme les personnes refusant les collectes, enregistrements et utilisations des informations à caractère nominatif les concernant et strictement nécessaires pour les besoins de la gestion des jeux.
										<br>
										La participation au jeu implique pour tout participant l'acceptation entière et sans réserve du présent règlement. Le non-respect dudit règlement entraîne l’annulation automatique de la participation et de l'attribution éventuelle de gratifications.
									</p>

									<h3>Article 3 : Modalité de participation
									</h3>

									<p>Le jeu est accessible 24h sur 24 sur Internet<br>
										Mécanique du jeu : Pour participer au jeu, il suffit de se connecter ou de s’inscrire sur le site internet afin de participer au tirage au sort. Et rentrer son ticket pour voir le lot gagné.
									</p>

									<h3>Article 4 : Sélection des gagnants
									</h3>

									<p>Les gagnants seront désignés par tirage au sort.<br>
										Les gagnants seront désignés après vérification de leur éligibilité au gain de la dotation le concernant.
										<br>
										Les participants désignés seront contactés par courrier électronique par l'Organisateur. Si un participant ne se manifeste pas dans la semaine suivant l'envoi de ce courrier électronique, il sera considéré comme ayant renoncé à son lot et le lot restera la propriété de l'Organisateur.
										<br>
										Du seul fait de l’acceptation de son prix, le gagnant autorise l’Organisateur à utiliser ses nom, prénom, ainsi que l’indication de sa ville et de son département de résidence dans toute manifestation publi-promotionnelle, sur le site Internet de l’Organisateur et sur tout site ou support affilié, sans que cette utilisation puisse ouvrir de droit et rémunération autres que le prix gagné.
										<br>
										Les gagnants devront se conformer au règlement. S'il s'avérait qu'ils ne répondent pas aux critères du présent règlement, leurs lots ne leur seraient pas attribués. Les participants autorisent toutes les vérifications concernant leur identité, leur âge, leurs coordonnées postales ou la loyauté et la sincérité de leur participation. A ce titre, l’Organisateur se réserve le droit de demander une copie de la pièce d’identité du gagnant avant l’envoi de la dotation. Toute fausse déclaration, indication d'identité ou d'adresse fausse entraîne l'élimination immédiate du participant et le cas échéant le remboursement des lots déjà envoyés.
									</p>

									<h3>Article 5 : Dotations
									</h3>

									<p>Les dotations sont inscrites sur la page des différents concours respectifs</p>

									<h3>Article 6 : Acheminement des lots
									</h3>

									<p>L’Organisateur ne pourra être tenu pour responsable de l'envoi des dotations à une adresse inexacte du fait de la négligence du gagnant lorsque les lots doivent être envoyés.</p>

									<h3>Article 7 : Données personnelles
									</h3>

									<p>Il est rappelé que pour participer au Jeu, les joueurs doivent nécessairement fournir certaines informations personnelles les concernant (nom, email …). Ces informations sont enregistrées et sauvegardées dans un fichier informatique et sont nécessaires à la prise en compte de leur participation, à la détermination des gagnants et à l'attribution et à l’acheminement des prix. Ces informations sont destinées à l’Organisateur, et pourront être transmises à ses prestataires techniques et à un prestataire assurant l’envoi des prix. L'adresse email des participants peut être utilisée pour l'envoi d'une newsletter Fatboar.</p>

									<p>En participant au Jeu, le joueur pourra également solliciter son inscription à un courrier électronique d’information de l’Organisateur. Les données ainsi recueillies pourront être utilisées dans le cadre légal.
										<br>
										En application de la loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, les joueurs disposent des droits d'accès, de rectification et de suppression des données les concernant. Pour exercer ces droits, les joueurs devront envoyer un courrier à la société organisatrice.
									</p>

									<h3>Article 8 : Litiges
									</h3>

									<p>Le présent règlement est soumis à la loi française.
										<br>
										Pour être prises en compte, les éventuelles contestations relatives au Jeu doivent être formulées sur demande écrite à la société organisatrice.
										<br>
										Et au plus tard quatre-vingt dix (90) jours après la date limite de participation au Jeu tel qu’indiqué au présent règlement.
										<br>
										En cas de désaccord persistant sur l'application ou l'interprétation du présent règlement, et à défaut d'accord amiable, tout litige sera soumis au tribunal compétent.</p>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
