{% extends 'base.html.twig' %}

{% block title %}Modalité du jeu
{% endblock %}

{% block metadescription %}
	<meta name="Description" content="Modalité du jeu-concours Fatboar et du tirage au sort final">
{% endblock %}

{% block body %}

	<div id="modalite" class="columns m-b-none bg-modalite">
		<div class="column is-10 is-offset-1 bg-card-page">
			<h1 class="title is-1 p-b-lg p-t-lg has-text-centered" style="color: #be8959 !important;">
				<u>Modalité du jeu</u>
			</h1>
			<div class="columns">
				<div class="column is-12">
					<div class="columns p-md">
						<div class="column is-12 m-l-md m-r-md">
							<h2 class="has-text-centered is-size-4 p-b-lg is-uppercase has-text-weight-bold">Tout savoir sur notre jeu-concours ?</h2>
							<p class="m-b-md has-text-white">Pour l'ouverture du 100ème restaurant de FatBoar, nous organisons un jeu-concours 100% gagnant.</p>
							<p class="m-b-md has-text-white">Pour pouvoir jouer, il vous suffit d'aller manger dans un de nos restaurants et d'avoir un ticket de caisse supérieur à 18 euros pour avoir un numéro à 10 chiffres.</p>
							<p class="m-b-md has-text-white">Dans un premier temps, il faudra vous inscrire ou bien vous connecter via un compte Google ou Facebook pour ensuite entrer le numero de ticket sur la page d'accueil de notre site. Vous s'aurai de suite quels petits lots vous aurez gagné.</p>
						</div>
					</div>

					<div class="columns p-md">
						<div class="column is-6 d-flex justify-content-center align-items-center">
							<img src="{{ asset('img/RangeRoverEvoque.png') }}" alt="image du gros lots - 4x4 Range Rover Evoque" width="80%">
						</div>
						<div class="column is-6">
							<h3 class="is-size-4 m-b-md has-text-white">Petits lots à gagner</h3>
							<ul class="m-b-lg m-l-md has-text-white" style="list-style: initial;">
								<li>Une entrée ou un dessert au choix</li>
								<li>Un burger au choix</li>
								<li>Un menu du jour</li>
								<li>Un menu au choix</li>
								<li>70% de réduction sur votre addition</li>
							</ul>
							<p class="has-text-white">Pour finir, après avoir entré et valider votre ticket. Vous serez inscrit automatiquement au grand tirage au sort qui se déroulera à la fin du jeu-concours, le 15 janvier 2020.</p>
						</div>
					</div>
					<div class="columns p-md">
						<div class="column is-12 has-text-centered">
							<p class="m-b-md has-text-white">Le gagnant du tirage au sort remportera un 4x4 Range Rover Evoque d'une valeur de 59900 euros.</p>
							<p class="m-b-md has-text-white">Venez tenter votre chance, tout le monde est le bienvenue</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
