{% extends 'base.html.twig' %}

{% block title %}Panel Admin - Ticket
{% endblock %}
{% block body %}
{% if tickets is not empty %}
	<div id="admin-tickets" class="flex-1">
		<div class="columns h-100 m-b-none">
			{% include 'panel_admin/sidebar-admin.html.twig' with {'page': 'Tickets'} %}
			<div class="column is-9-desktop is-8-tablet is-12-mobile bg-admin">
				<div class="columns">
					<div class="column is-10 is-offset-1">
						<h1 class="title is-1 p-b-lg p-t-lg has-text-centered">
							<u>Tickets</u>
						</h1>
						{{ form_start(searchBar, {'attr': {'class': 'searchBar section p-b-none'}}) }}
						{{ form_label(searchBar, null, {'label': 'Rechercher le numéro de ticket','label_attr': {'for': 'form_query'}}) }}
						{{ form_widget(searchBar) }}
						{{ form_end(searchBar) }}
						<div class="section">
							<div class="card">
								<div class="card-header">
									<p class="card-header-title">Tickets</p>
								</div>
								<div class="card-content">
									<div class="content table-container">
										<table class="table is-fullwidth">
											<thead>
												<tr>
													<th>{{ knp_pagination_sortable(tickets, 'Id', 't.id', {}, {'direction': 'asc'}) }}</th>
													<th>N° Ticket</th>
													<th>Date Création</th>
													<th>Utilisateur</th>
													<th>Gain</th>
													<th>Êtat</th>
													<th>Récupéré</th>
													<th>Supprimer</th>
												</tr>
											</thead>
											<tbody>
												{% for ticket in tickets %}
													<tr>
														<td>{{ ticket.id }}</td>
														<td>
															<a href="{{ path('ticket_show', {'id': ticket.id}) }}">{{ ticket.ticketNo }}<a></td>
																<td>{{ ticket.dateCreate | date("d/m/Y") }}</td>
																<td>
																	{% if ticket.user.email is defined %}
																		{{ticket.user.email}}
																	{% else %}
																		Aucun utilisateur
																	{% endif %}
																</td>
															</p>
														</td>
														<td>
															{% if ticket.prize.name is defined %}
																{{ ticket.prize.name }}
															{% else %}
																<p>Aucun Gain</p>
															{% endif %}
														</td>
														<td>
															{% if ticket.isUsed %}
																<p style="color:green">Utilisé</p>
															{% else %}
																<p style="color:#dc3545">Pas utilisé</p>
															{% endif %}
														</td>
														<td>
															{% if ticket.isRecover %}
																<p style="color:green">Récupéré</p>
															{% else %}
																<p style="color:#dc3545">Pas récupéré</p>
															{% endif %}
														</td>
														<td>
															{% if ticket.dateDelete %}
																{% else %}
																	{{ include('ticket/_delete_form.html.twig') }}
															{% endif %}
														</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
							{{ knp_pagination_render(tickets) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{% endif %}{% endblock %}
