{% extends 'base.html.twig' %}

{% block title %}Panel Admin - Ticket
{% endblock %}

{% block body %}

	<div id="admin-utilisateurs" class="flex-1">
		<div class="columns h-100">
			{% include 'panel_admin/sidebar-admin.html.twig' with {'page': 'Tickets'}%}
			<div class="column is-9-desktop is-8-tablet is-12-mobile bg-admin d-flex flex-column justify-content-center">
				<div class="columns">
					<div class="column is-10 is-offset-1">
						<h1 class="title is-1 p-b-lg p-t-lg has-text-centered m-b-none">
							<u>Tickets</u>
						</h1>
						<div class="section">
							<h2 class="has-text-centered p-b-lg is-size-5 has-text-weight-bold">
								Ticket n°{{ ticket.ticketNo }}
							</h2>
							<div class="box">
								<article class="media">
									<div class="media-content">
										<div class="content">
											<div class="columns">
												<div class="column is-6">
													<p>
														<strong>{{ ticket.ticketNo }}</strong>
														--
														<small>
															<strong>ID :</strong>
															{{ ticket.id }}
														</small>
													</p>
													<p>
														<strong>Montant du ticket :</strong>
														{{ ticket.prix }}€</p>
													<p class="p-b-md">
														<strong>Utilisateur :</strong>
														{% if ticket.user.email is defined %}
															{{ticket.user.email}}
														{% else %}
															Aucun utilisateur
														{% endif %}
													</p>
													{% if ticket.dateCreate %}
														<p class="is-italic p-b-md">
															<strong>Créer le :</strong>
															{{ ticket.dateCreate ? ticket.dateCreate|date('d-m-y H:i') : '' }}
														</p>
													{% else %}
														<p class="is-italic p-b-md">Pas de date de création</p>
													{% endif %}
												</div>
												<div class="column is-6">
													{% if ticket.dateUpdate %}
														<p class="is-italic">
															<strong>Mis à jour le :</strong>
															{{ ticket.dateUpdate ? ticket.dateUpdate|date('d-m-y H:i') : '' }}</p>
													{% else %}
														<p class="is-italic">Pas de date de mise à jour</p>

													{% endif %}
													{% if ticket.dateDelete %}
														<p class="is-italic">
															<strong>Mis à jour le</strong>
															{{ ticket.dateDelete ? ticket.dateDelete|date('d-m-y H:i') : '' }}
														</p>
													{% else %}
														<p class="is-italic">Pas de date de suppression</p>
													{% endif %}

													{% if ticket.isUsed %}
														<strong>
															<p style="color:green;">Ticket utilisé</p>
														</strong>
													{% else %}
														<strong>
															<p style="color:red;">Ticket non utilisé</p>
														</strong>
													{% endif %}
												</div>
											</div>
										</div>
										<div class="buttonShow d-flex flex-row justify-content-between p-t-lg">
											<div>{{ include('ticket/_delete_form.html.twig') }}</div>
											<div>
												{% if ticket.isUsed %}
													{% if is_granted("ROLE_EMP") or is_granted("ROLE_ADMIN") %}
														{{ form_start(form, {'attr': { 'class' : 'd-flex flex-row align-items-center'}}) }}
														{{ form_row(form.isRecover, {'attr': {'class': 'checkbox-ticket'}}) }}
														{% if form.vars.submitted and form.vars.valid %}
															<div>
																<div class="control has-text-centered">
																	<button class="button is-success is-uppercase" id="btnSubmit" name="Submit" type="submit">
																		<i class="fas fa-edit"></i>
																	</button>
																</div>
															</div>
														{% elseif form.vars.submitted and form.vars.valid == false %}
															<div>
																<div class="control has-text-centered">
																	<button class="button is-danger is-uppercase" id="btnSubmit" name="Submit" type="submit">
																		<i class="fas fa-edit"></i>
																	</button>
																</div>
															</div>
														{% else %}
															<div>
																<div class="control has-text-centered">
																	<button class="button is-success is-uppercase" id="btnSubmit" name="Submit" type="submit">
																		<i class="fas fa-edit"></i>
																	</button>
																</div>
															</div>
														{% endif %}
														{{ form_end(form) }}
													{% endif %}
												{% endif %}
											</div>
										</div>
									</article>
								</div>
								<a href="{{ path('ticket_index') }}" class="has-text-dark">
									<i class="fas fa-arrow-left"></i>
									retour à la liste</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
