{% extends 'base.html.twig' %}

{% block title %}Connexion - Jeu concours Fatboar
{% endblock %}


{% block metadescription %}
	<meta name="Description" content="Page de connexion du site de jeu-concours Fatboar">
{% endblock %}

{% block body %}
<div id="SIGN" class="d-flex flex-1 bg-sign align-items-center">
		<div class="container-fluid w-100">
			<div class="columns">
				<div class="column is-10 is-offset-1">
					<div class="card bg-card-page p-b-xl">
						<header class="card-header has-text-centered">
							<h1 class="title is-1 p-b-xl p-t-xl has-text-centered w-100" style="color: #be8959 !important;">
								<u>Formulaire de connexion - Fatboar</u>
							</h1>
						</header>
						<div class="card-content">
							<div class="columns">
								<div class="column is-12">
									<p class="title is-5 has-text-centered w-100 m-b-lg has-text-white">
										Veuillez choisir votre mode de connexion et renseigner les champs demandés
									</p>
									<div class="columns p-b-lg m-b-none has-text-centered">
										<div class="column is-12-mobile is-12-tablet is-6-desktop is-offset-3-desktop ">
											<a class="btnGoogleConnect button is-danger is-centered" href="{{ path('connect_google') }}">
												<span class="icon">
													<i class="fab fa-google"></i>
												</span>
												<span>Google</span>
											</a>

											<a class="btnFacebookConnect button is-link is-centered" href="{{ path('connect_facebook') }}">
												<span class="icon">
													<i class="fab fa-facebook"></i>
												</span>
												<span>Facebook</span>
											</a>
										</div>
									</div>
									<div class="columns p-b-xl">
										<div class="column is-12-mobile is-12-tablet is-6-desktop is-offset-3-desktop">
											<form method="post">
                                                {% if error %}
                                                    <div class="has-text-danger has-text-centered">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                                {% endif %}

                                                <div class="field customPR customPl">
                                                    <label class="has-text-white" for="inputEmail">Adresse email</label>
                                                    <div class="control has-icons-left">
                                                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control input" placeholder="george@gmail.com" required autofocus>
                                                        <span class="icon is-small is-left">
                                                            <i class="fa fa-envelope"></i>
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="field customPR customPl">
                                                    <label class="has-text-white" for="inputPassword">Mot de passe</label>
                                                    <div class="control has-icons-left">
                                                        <input type="password" name="password" id="inputPassword" class="form-control input" placeholder="************" required>
                                                        <span class="icon is-small is-left">
                                                            <i class="fa fa-lock"></i>
                                                        </span>
                                                    </div>
                                                </div>

                                                <input type="hidden" name="_csrf_token"
                                                    value="{{ csrf_token('authenticate') }}"
                                                >

                                                <div class="field has-text-centered p-t-lg">
                                                    <button class="button isad<wcl,d-primary connexion" type="submit">
                                                        Se Connecter
                                                    </button>
                                                </div>

                                            </form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
