{% extends 'base.html.twig' %}

{% block title %}Inscription - Jeu concours Fatboar
{% endblock %}

{% block metadescription %}
	<meta name="Description" content="Page d'nscription du site de jeu-concours Fatboar">
{% endblock %}

{% block body %}
	<div id="SIGN" class="d-flex flex-1 bg-sign align-items-center">
		<div class="container-fluid w-100">
			<div class="columns">
				<div class="column is-10 is-offset-1">
					<div class="card bg-card-page p-b-xl">
						<header class="card-header has-text-centered">
							<h1 class="title is-1 p-b-xl p-t-xl has-text-centered w-100" style="color: #be8959 !important;">
								<u>Formulaire d'inscription - Fatboar</u>
							</h1>
						</header>
						<div class="card-content">
							<div class="columns">
								<div class="column is-12">
									<p class="title is-5 has-text-centered w-100 m-b-lg has-text-white">
										Veuillez choisir votre mode d'inscription et renseigner les champs demandés
									</p>
									<div class="columns p-b-lg m-b-none has-text-centered">
										<div class="column is-12-mobile is-12-tablet is-6-desktop is-offset-3-desktop ">
											<a class="btnGoogleConnect button is-danger is-centered" href="{{ path('connect_google') }}">
												<span class="icon">
													<i class="fab fa-google"></i>
												</span>
												<span>Google</span>
											</a>

											<a class="btnFacebookConnect button is-link is-centered" href="{{ path('connect_facebook') }}">
												<span class="icon">
													<i class="fab fa-facebook"></i>
												</span>
												<span>Facebook</span>
											</a>
										</div>
									</div>
									<div class="columns">
										<div class="column is-12-mobile is-10-tablet is-offset-1-tablet is-8-desktop is-offset-2-desktop">
											{{ form_start(form) }}
											<div class="form-error">
												{{ form_errors(form) }}
											</div>
											<div class="columns">
												<div class="column">
													<div class="customPR">
														{{ form_label(form.first_name, null, {'label': 'Prénom', 'label_attr': {'class': 'has-text-white'}}) }}
														<div class="control m-b-md">
															{{ form_widget(form.first_name, {'attr': {'class': 'form-control input','placeholder' : 'George'}}) }}
														</div>
													</div>
												</div>
												<div class="column">
													<div class="customPL">
														{{ form_label(form.family_name, null, {'label': 'Nom', 'label_attr': {'class': 'has-text-white'}}) }}
														<div class="control m-b-md">
															{{ form_widget(form.family_name, {'attr': {'class': 'form-control input', 'placeholder' : 'DOE'}}) }}
														</div>
													</div>
												</div>
											</div>
											{{ form_label(form.email, null, {'label': 'Adresse email', 'label_attr': {'class': 'has-text-white'}}) }}
											<div class="control m-b-md">
												{{ form_widget(form.email, {'attr': {'class': 'form-control input', 'placeholder' : 'george@gmail.com'}}) }}
											</div>
											{{ form_label(form.plainPassword.first, null, {'label_attr': {'class': 'has-text-white'}}) }}
											<div class="control m-b-md">
												{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control input', 'placeholder' : '************', 'min' : 5, 'max': 50, 'required' : 'required'}}) }}
											</div>
											{{ form_label(form.plainPassword.second, null, {'label_attr': {'class': 'has-text-white'}}) }}
											<div class="control m-b-md">
												{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control input', 'placeholder' : '************', 'min' : 5, 'max': 50, 'required':'required'}}) }}
											</div>
											<div class="field has-text-centered p-t-lg">
												<button class="button is-primary inscription" type="submit">S'inscrire</button>
											</div>
											{{ form_end(form) }}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
