<!DOCTYPE html>
<html lang="fr">

	<head>
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}"/>
		{% block stylesheets %}
			<link rel="stylesheet" href="https://use.typekit.net/qmc7lts.css">
			<link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('css/mystyles.css') }}">
		{% endblock %}
		{% block metadescription %}{% endblock %}
	</head>

	<body class="d-flex flex-column">
		{% if app.request.attributes.get('_route') == 'home' %}
			<section id="home" class="hero">
			{% endif %}

			{% if (app.request.attributes.get('_route') != 'user_index') and (app.request.attributes.get('_route') != 'user_show') and (app.request.attributes.get('_route') != 'ticket_index') and (app.request.attributes.get('_route') != 'ticket_show') and (app.request.attributes.get('_route') != 'session_index') and (app.request.attributes.get('_route') != 'session_show') and (app.request.attributes.get('_route') != 'prize_index') and (app.request.attributes.get('_route') != 'prize_show') and (app.request.attributes.get('_route') != 'stats_index') %}
				{% include 'menu/menu.html.twig' %}
			{% endif %}

			{% block body %}{% endblock %}

			{% if app.request.attributes.get('_route') == 'home' %}
			</section>
		{% endif %}


		{% if (app.request.attributes.get('_route') != 'home') and (app.request.attributes.get('_route') != 'user_index') and (app.request.attributes.get('_route') != 'user_show') and (app.request.attributes.get('_route') != 'ticket_index') and (app.request.attributes.get('_route') != 'ticket_show') and (app.request.attributes.get('_route') != 'session_index') and (app.request.attributes.get('_route') != 'session_show') and (app.request.attributes.get('_route') != 'prize_index') and (app.request.attributes.get('_route') != 'prize_show') and (app.request.attributes.get('_route') != 'stats_index') %}
			{% include 'footer/footer.html.twig' %}
		{% endif %}

		{% block javascripts %}{% endblock %}

		<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
		<script defer src="{{ asset('js/modal.js') }}"></script>
		<script defer src="{{ asset('js/chart.js') }}"></script>
		<script src="/bundles/mukadichartjs/jquery.js"></script>
		<script src="/bundles/mukadichartjs/Chart.bundle.min.js"></script>
		<script src="/bundles/mukadichartjs/mukadi.chart.min.js"></script>
	</body>
</html>
